.header {
    background: #ffb95f;
    width: 100%;
    height: 100px;
    padding-top: 13px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.middle {
    overflow: hidden;
    max-width: 1280px;
    margin: 0 auto;
}

.logo {
    background: url('../assets/images/general/logo.svg') no-repeat center / contain;
    width: 77px;
    height: 72px;
    float: left;
    position: relative;
}

.logo a {
    display: block;
    font-size: 0;
    width: 100%;
    height: 100%;
}

.menu {
    float: right;
}

.menu ul {
    font-size: 0;
}

.itemMenu {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}

.itemMenu:first-child {
    margin-left: 0;
}

.itemMenu a {
    color: #fff;
    font-size: 14px;
}