body.mobile {
    &.home {
        main {
            section {
                h2 {
                    max-width: 100%;
                    padding: 0 10px;
                }

                .see-more {
                    padding: 10px;

                    button {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}